[package]
name = "mockito"
version = "0.25.1"
authors = ["Florin Lipan <florinlipan@gmail.com>"]
license = "MIT"
homepage = "https://github.com/lipanski/mockito"
repository = "https://github.com/lipanski/mockito"
documentation = "https://docs.rs/mockito"
description = "HTTP mocking for Rust."
keywords = ["mock", "mocks", "http", "webmock", "webmocks"]
categories = ["development-tools::testing", "web-programming"]
exclude = ["/.appveyor.yml", "/.travis.yml", "/benchmarks.txt", "/docs/", "/slides.pdf"]
edition = "2018"

[badges]
travis-ci = { repository = "lipanski/mockito", branch = "master" }
appveyor = { repository = "lipanski/mockito", branch = "master", service = "github" }

[dependencies]
rand = "0.7.0"
httparse = "1.3.3"
regex = "1.0.5"
lazy_static = "1.1.0"
serde_json = "1.0.17"
difference = "2.0"
colored = { version = "1.6", optional = true }
log = "0.4.6"
percent-encoding = "2.1.0"
assert-json-diff = "1.0.3"

[dev-dependencies]
env_logger = "0.7"
testing_logger = "0.1"

[features]
default = ["color"]
color = ["colored"]
