[package]
name = "mockito"
version = "0.13.0"
authors = ["Florin Lipan <florinlipan@gmail.com>"]
license = "MIT"
homepage = "https://github.com/lipanski/mockito"
repository = "https://github.com/lipanski/mockito"
documentation = "https://docs.rs/mockito"
description = "HTTP mocking for Rust."
keywords = ["mock", "mocks", "http", "webmock", "webmocks"]
categories = ["development-tools::testing", "web-programming"]

[badges]
travis-ci = { repository = "lipanski/mockito", branch = "master" }
appveyor = { repository = "lipanski/mockito", branch = "master", service = "github" }

[[bin]]
name = "mockito-server"
path = "src/main.rs"
doc = false

[dependencies]
rand = "^0.3.14"
http-muncher = "^0.3"
regex = "^0.2.2"
lazy_static = "^0.2"
serde_json = "^1.0.17"
difference = "^2.0"
colored = "^1.6"
