[package]
name = "mockito"
version = "0.6.0"
authors = ["Florin Lipan <florinlipan@gmail.com>"]
license = "MIT"
homepage = "https://github.com/lipanski/mockito"
repository = "https://github.com/lipanski/mockito"
documentation = "http://lipanski.github.io/mockito/"
description = "HTTP mocking for Rust"

[[bin]]
name = "mockito-server"
doc = false

[dependencies]
rand = "^0.3.14"
serde = "^1.0"
serde_derive = "^1.0"
serde_json = "^1.0"
curl = "^0.4"
http-muncher = "^0.3"
regex = "^0.2.2"
lazy_static = "^0.2"
