[package]
name = "mockito"
version = "0.2.4"
authors = ["Florin Lipan <florinlipan@gmail.com>"]
license = "MIT"
homepage = "https://github.com/lipanski/mockito"
repository = "https://github.com/lipanski/mockito"
documentation = "http://lipanski.github.io/mockito/"
description = "HTTP mocking for Rust"

[dependencies]
hyper = "^0.10.0"
rustc-serialize = "^0.3.16"
rand = "^0.3.14"
