name: Linters

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - "*"
env:
  MINIMUM_SUPPORTED_TOOLCHAIN: 1.85.0

jobs:
  rustfmt:
    name: Run rustfmt on the minimum supported toolchain
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ env.MINIMUM_SUPPORTED_TOOLCHAIN }}
          profile: minimal
          components: clippy, rustfmt
          override: true
      - name: Run rustfmt
        run: cargo fmt -- --check

  clippy:
    name: Run clippy on the minimum supported toolchain
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true
      - name: Resolve MSRV aware dependencies
        run: cargo update
        env:
          CARGO_RESOLVER_INCOMPATIBLE_RUST_VERSIONS: fallback
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ env.MINIMUM_SUPPORTED_TOOLCHAIN }}
          profile: minimal
          components: clippy, rustfmt
          override: true
      - name: Run clippy
        run: cargo clippy-mockito
